* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body>header {
    background-color: darkslategrey;
    padding: 16px 0;
    color: azure;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;

}

header li a {
    color: azure;
    text-decoration: none;

}

.container {
    width: 1366px;
    margin: 0 auto;
}


.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.articles article img {
    /*  height: 180px;*/
    width: 100%;


}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: cadetblue;
    color: chartreuse;
    padding: 8px;
    display: inline-block;
    text-decoration: none;


}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: darkgray
}

#economy {
    background-color: bisque
}



#entretenimento {
    background-color: burlywood
}

#tecnologia {
    background-color: darkgrey
}


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: white;
}